@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./theme/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./theme/assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./theme/assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./theme/assets/fonts/Inter-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--surface-ground);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3125rem;
}

.p-component {
    font-size: 0.875rem;
}
